/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
    text-decoration: none;
    color: black;
 }

 .splash {
    display: flex;
    justify-content: center;
 }

 .button {
    font-size: 12px;
    height: 27px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    background-image: linear-gradient(#f7dfa5, #f0c14b);
    border: 1px solid #a88734;
    border-radius: 2px;
    margin-top: 7px;
    width: 300px;
    margin-bottom: 7px;
 }

 .session-type > h2 {
    font-size: 35px;
 }

 .button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f7d27e, #edb936);
    background-image: linear-gradient(#f9d787, #edb31f);
 }

.footer-top {
   display: flex;
   justify-content: center;
   border-top: 2px solid black;
   width: 100%;
   background-color: #232f3e;
   height: 100px;
   width: 100%;
   text-align: center;
}

 .footer-bottom {
      display: flex;
      justify-content: center;
      border-top: 2px solid black;
      width: 100%;
      color: rgb(229, 227, 227);
      background-color: #131921;
      height: 40px;
      width: 100%;
      text-align: center;
 }

 .splash {
   font-family: AmazonEmber;
   font-size: 100px;
 }

 .product-page {
    min-height: auto;
 }

 .stars {
   filter: invert(88%) sepia(54%) saturate(1731%) hue-rotate(319deg) brightness(99%) contrast(91%);
 }