

.kettle-container {
    position: relative;
    left: 200px;
    top: 100px;
    height: 600px;
}

.kettle-img {
    transform: scale(2);
    max-height: 250px;
    max-width: 250px;
}

.kettle-container > h1 {
    position: relative;
    left: 400px;
    top: -200px;
    font-size: 50px;
    font-family: AmazonEmber;
}

.cart-page {
    min-height: 78vh;
    font-family: AmazonEmber;
    background-color: rgb(225, 225, 225);
    display: grid;
    grid-template-columns: 1vw 80.5vw 1vw 16vw 1.5vw;
    grid-template-rows: 2vh auto 2vh;
}

.cart-page-top {
    border-bottom: 1px solid rgb(205, 205, 205);
}

.cart-page-top > h1 {
    font-size: 30px;
    margin-bottom: 1vh;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2vh solid white;
    border-radius: 2px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 3px;
    padding: 1vh;
    height: 20vh;
}

.cart-item-photo-container {
    width: 10vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-photo {
    max-width: 10vw;
    max-height: 20vh;
}

.cart-item-text {
    margin-left: 1vw;
}

.cart-item-text > div {
    margin-bottom: 1vh;
}

.quantity-container {
    border: 1px solid gray;
    border-radius: 8px;
    width: 70px;
}

.quantity-container > select {
    border: none;
}

.button7 {
    background-color: white;
    color: rgb(46, 128, 252);
    border: 0px;
}

.button7:hover{
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.cart-subtotal {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
}

.checkout-container {
    background-color: white;
    border-radius: 2px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-container > div {
    margin-bottom: 1vh;
}

.cart-stock {
    color: green;
}