.nav-bar {
    width: 100%;
}

.nav-belt {
    display: flex;
    flex-direction: row;
    background-color: #131921;
    height: 70px;
    color: #ffff;
}

.nav-main {
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    height: 35px;
}