/* .product-page {
    width: 100%;
} */

.product-container {
    display: flex;
    justify-content: center;
}

.product-list {
    display: grid;
    width: 75%;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-between;
    right: 90px;
    padding-top: 50px;
}

.product-item {
    height: 400px;
    border-bottom: 2px solid gray;
    font-family: AmazonEmber;
}

.product-item:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.img {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
}

img {
    max-height: 250px;
    max-width: 250px;
}

.product-count {
    border-bottom: 2px solid gray;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: AmazonEmber;
}

.product-rating {
    filter: invert(88%) sepia(54%) saturate(1731%) hue-rotate(319deg) brightness(99%) contrast(91%);
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price-dollars {
    font-size: 30px;
}

.product-price-cents {
    position: relative;
    top: -5px;
}

.product-price-sign {
    position: relative;
    top: -4px;
}