.show-product-container {
    display: flex;
    justify-content: center;
}

.show-product-mid {
    width: 500px;
}

.show-product-cart {
    width: 200px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.show-product-cart > button {
    width: 150px;
}

.reviews {
    border-top: 1px solid rgb(205, 205, 205);
    display: flex;
    justify-content: center;
    font-family: AmazonEmber;
}

.reviews > div {
    width: 300px;
}

.reviews-left > h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(205, 205, 205);
}


.reviews > ul {
    width: 600px
}

.reviews > ul > li {
    padding-bottom: 30px;
}
