.splash {
    background-color: rgb(201, 201, 201);
}

/* .container-container {
    display: flex;
} */

.item-container {
    width: 100%;
    min-width: 1144px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #0f1111;
}

.item-card {
    width: 267px;
    height: 320px;
    background-color: #ffffff;
    padding: 20px;
    margin: 16px 12px;
}

.item-card > div {
    font-size: 30px;
}

.item-img {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}